@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RedWeb Test</h1>
    <p class="lead">Pau Segarra Agut</p>
    <p><a href="/Product/Index" class="btn btn-primary btn-lg">Go to Product List</a></p>
</div>

